<!--Section bottom (with second stadium bg)-->
<div class="section-bottom">

  <!--&lt;!&ndash; Attention Catchers &ndash;&gt;-->
  <!--<div class="catcher text-center text-white py-4">-->
    <!--<div class="container">-->
      <!--<div class="row justify-content-center">-->
        <!--<div class="col-xl-10">-->
          <!--<div class="row align-items-center">-->
            <!--<div class="col-lg-4 mb-3">-->
              <!--<div class="catcher__wrapper px-xl-4">-->
                <!--<h3 class="catcher__title text-uppercase">Créez votre concours de pronostics!</h3>-->
                <!--<div class="separator"></div>-->
                <!--<p class="catcher__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliud igitur esse censet gaudere, aliud non dolere facillimum.</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-4 mb-3">-->
              <!--<div class="catcher__wrapper px-xl-4">-->
                <!--<h3 class="catcher__title text-uppercase">Défiez tous vos amis!</h3>-->
                <!--<div class="separator"></div>-->
                <!--<p class="catcher__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliud igitur esse censet gaudere, aliud non dolere facillimum.</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-4 mb-3">-->
              <!--<div class="catcher__wrapper px-xl-4">-->
                <!--<h3 class="catcher__title text-uppercase">Mesurez-vous au reste du monde</h3>-->
                <!--<div class="separator"></div>-->
                <!--<p class="catcher__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliud igitur esse censet gaudere, aliud non dolere facillimum.</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-4 mb-3">-->
              <!--<div class="catcher__wrapper px-xl-4">-->
                <!--<h3 class="catcher__title text-uppercase">Accédez à vos classements!</h3>-->
                <!--<div class="separator"></div>-->
                <!--<p class="catcher__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliud igitur esse censet gaudere, aliud non dolere facillimum.</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-4 mb-3">-->
              <!--<div class="catcher__wrapper px-xl-4">-->
                <!--<h3 class="catcher__title text-uppercase">C'est totalement gratuit!</h3>-->
                <!--<div class="separator"></div>-->
                <!--<p class="catcher__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliud igitur esse censet gaudere, aliud non dolere facillimum.</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-4 mb-3">-->
              <!--<div class="catcher__cta px-xl-4">-->
                <!--<a class="cta cta-player px-4 pb-4 d-block text-uppercase rounded" href="#nolink">Je crée mon concours maintenant !</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash; End Attention Catchers &ndash;&gt;-->

  <!--&lt;!&ndash; News &ndash;&gt;-->
  <!--<div class="news text-center py-4">-->
    <!--<div class="container">-->
      <!--<div class="row justify-content-center">-->
        <!--<div class="col-lg-8">-->
          <!--<h2 class="news__title text-white text-uppercase">À la Une sur la planète BLOGGYFOOT</h2>-->
          <!--<a class="view-all" href="#nolink">Tous les editos</a>-->
          <!--<div class="news__teaser bg-white rounded">-->
            <!--<div class="news__teaser-wrapper px-5 pb-4">-->
              <!--<img class="news__teaser-image img-fluid" src="assets/img/photo-news1.png">-->
              <!--<div class="news__teaser-date text-white text-uppercase mb-3"><span class="d-inline-block">Février 2018</span>-->
              <!--</div>-->
              <!--<h3 class="news__teaser-title mb-3 ">Les stars répondent présent !</h3>-->
              <!--<p class="news__teaser-text">Si la France repose plus sur un collectif solide où quelques-->
                <!--individualités ressortent, force-->
                <!--est de constater que Deschamps a su mettre en place un groupe, un vrai. Il a même su-->
                <!--faire-->
                <!--taire les égos de certains qui représentaient jusqu’il y a peu le gros défaut des bleus-->
                <!--…</p>-->
              <!--<a href="#nolink" class="btn btn-link dark text-uppercase">Lire la suite</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;&lt;!&ndash; End News &ndash;&gt;&ndash;&gt;-->

  <!--&lt;!&ndash; Partnership &ndash;&gt;-->
  <!--<div class="partnership text-center text-white py-5">-->
    <!--<div class="container">-->
      <!--<div class="row justify-content-center">-->
        <!--<div class="col-lg-8">-->
          <!--<h2 class="partnership__title text-uppercase">Devenir partenaires</h2>-->
          <!--<p class="partnership__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae ista-->
            <!--amicitia est? Oratio me istius-->
            <!--philosophi non offendit duo.</p>-->

        <!--</div>-->
        <!--<div class="w-100"></div>-->
        <!--<div class="col-sm-5 col-lg-3">-->
          <!--<a href="#nolink" class="btn btn-primary btn-block text-uppercase">Plus de détails</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash; End Partnership &ndash;&gt;-->

  <!-- Social follows -->
  <div class="social-follows text-center text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <a href="https://www.facebook.com/Bloggyfoot.net/" target="_blank" class="btn btn-social facebook btn-block rounded text-uppercase my-2 my-lg-0">{{ 'LABEL.__Suivre bloggyfoot sur' | translate }}
            <img class="logo-right d-inline-block align-text-bottom" src="assets/img/fb.png">
          </a>
        </div>
        <div class="col-lg-6">
          <a href="https://twitter.com/Bloggyfoot" target="_blank" class="btn btn-social twitter btn-block rounded text-uppercase my-2 my-lg-0">{{ 'LABEL.__Suivre bloggyfoot sur' | translate }}
            <img class="logo-right d-inline-block align-text-bottom" src="assets/img/twitter.png">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Soccial follows -->

  <!-- Newsletter -->
  <div class="newsletter text-white text-center text-md-left py-5" *ngIf="isAuthenticated">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7">
          <h4 class="newsletter__title mb-3 mb-md-0">{{ 'LABEL.__Rester au courant des actualités Bloggyfoot' | translate }}</h4>
        </div>
        <div class="col-md-5">
          <div class="newsletter__form">
            <input class="form-control form-control-lg" type="text" placeholder="Adresse email">
            <button type="submit" class="form__submit btn btn-link light">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Newsletter -->

  <footer class="footer text-white">
    <div class="container">
      <div class="footer-top">
        <!-- Footer Menu -->
        <div class="menu-footer py-5 text-center text-sm-left" *ngIf="isAuthenticated">
          <div class="row">
            <div class="col-12 col col-lg-3">
              <ul class="menu-footer__list">
                <li><a routerLinkActive="active" routerLink="/">{{ 'MENU.__Accueil' | translate }}</a></li>
                <li><a routerLinkActive="active" routerLink="/planet">{{ 'MENU.__Planète Bloggyfoot' | translate }}</a></li>
                <li><a routerLinkActive="active" routerLink="/prono">{{ 'MENU.__Pronostics' | translate }}</a></li>
                <li><a routerLinkActive="active" routerLink="/group/my-active">{{ 'MENU.__Mes concours' | translate }}</a></li>
                <li><a href="#nolink">{{ 'MENU.__Général' | translate }}</a></li>
              </ul>
            </div>
            <div class="col-12 col col-lg-3">
              <ul class="menu-footer__list">
                <li><a routerLinkActive="active" routerLink="/hint">{{ 'MENU.__Astuces' | translate }}</a></li>
                <li><a routerLinkActive="active" routerLink="/points/calculation">{{ 'MENU.__Calcul des points' | translate }}</a></li>
                <li><a routerLinkActive="active" routerLink="/partner">{{ 'MENU.__Partenaires' | translate }}</a></li>
                <li><a routerLinkActive="active" routerLink="/group/create">{{ 'MENU.__Créer_un_concours' | translate }}</a></li>
              </ul>
            </div>
            <div class="col-12 col col-lg-3">
              <ul class="menu-footer__list">
                <li><a routerLinkActive="active" routerLink="/group/join">{{ 'MENU.__Rejoindre_un_concours' | translate }}</a></li>
                <li><a routerLinkActive="active" routerLink="/group/invite">{{ 'MENU.__Inviter_des_amis' | translate }}</a></li>
                <li><a routerLinkActive="active" routerLink="/contact">{{ 'MENU.__Contact' | translate }}</a></li>
                <li><a routerLinkActive="active" routerLink="/faq">{{ 'MENU.__Faqs' | translate }}</a></li>
              </ul>
            </div>
            <div class="col-12 col col-lg-3">
              <ul class="menu-footer__btn mt-4 mt-sm-0">
                <li><a class="btn btn-outline-light btn-sm btn-block text-uppercase" routerLinkActive="active" routerLink="/group/create">{{ 'MENU.__Créer_un_concours' | translate }}</a></li>
                <li><a class="btn btn-outline-light btn-sm btn-block text-uppercase" routerLinkActive="active" routerLink="/group/join">{{ 'MENU.__Rejoindre_un_concours' | translate }}</a></li>
                <li><a class="btn btn-outline-light btn-sm btn-block text-uppercase" routerLinkActive="active" routerLink="/group/invite">{{ 'MENU.__Inviter_des_amis' | translate }}</a></li>
                <li><a class="btn btn-outline-light btn-sm btn-block text-uppercase" routerLinkActive="active" routerLink="/logout">{{ 'USER.logout' | translate }}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Footer Menu -->
        <!-- Footer Bottom -->
        <div class="footer-bottom pt-4 pb-5 text-center clearfix">
          <div class="float-md-left">
            <a class="privacy" routerLinkActive="active" routerLink="/terms">{{ 'MENU.__Règlement et Conditions d\'utilisation' | translate }}</a>
            <a class="privacy" routerLinkActive="active" routerLink="/privacy">{{ 'MENU.__Privacy' | translate }}</a>
          </div>
          <div class="float-md-right">
            <span>&copy; Copyright Bloggysport 2018</span>
            <img class="inline pl-2" src="assets/img/logo-bloggysport.png">
          </div>
        </div>
        <!-- End Footer Bottom -->
      </div>
    </div>
  </footer>

</div>
<!-- End Section bottom (with second stadium bg)-->