<app-page-top></app-page-top>

<!--Title-->
<div class="title pt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row align-content-center">
                    <div class="col-lg-8">
                        <h1>{{ 'MENU.__Rejoindre_un_concours' | translate }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Title-->



<div class="group-join py-5 bg-gazon">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 fg-gazon">
                <app-cms [category]="'concoursjoin'" [mode]="'text'"></app-cms>
                <st-form [jsonModel]="jsonModel"
                         (stAfterFormInit)="onFormInit($event)">
                    <div *ngIf="formGroup" st-form-bottom>
                        <div class="row no-gutters justify-content-end">
                            <div class="col-sm-10">
                                <div class="row no-gutters">
                                    <div class="submit col-md-5">
                                        <button class="btn btn-block btn-primary btn-lg" (click)="join()">
                                            {{'MENU.__Rejoindre_un_concours' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </st-form>
            </div>
        </div>
    </div>
</div>