/*------------------------------------
              Content banner
-----------------------------------*/

.content-banner__menu-list{
  padding-left: 8px;
  li {
    margin: 0;
    list-style-type: none;
    position: relative;
    line-height: 1.8;
    a{
      font-weight: 600;
      font-size: 14px;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
  li:before{
    content: '';
    position: absolute;
    top: 12px;
    left: -8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color:  $blue-turquoise;
  }
}