/*------------------------------------
            Pagination
-----------------------------------*/

.navigation{
  height: 100%;
}

.pagination,
.ngx-pagination{
  justify-content: space-between !important;
  height: 48px;
  margin-bottom: 0 !important;
  position: relative;
  background: $gallery;
  padding-left: 0;
  text-align: center;
  li.current{
    background: transparent !important;
    padding: 0 5px;
    span{
      color: $blue-turquoise !important;
      text-decoration: underline;
      font-weight: 600;
      font-size: 18px;
      line-height: 2.3;
    }
  }
}

.page-link,
.ngx-pagination a{
  height: 100%;
  line-height: 3;
  border: none;
  background: transparent;
  color: $body-color !important;
  font-weight: 500;
  font-size: 14px;
  &.active{
    color: $blue-turquoise !important;
    text-decoration: underline;
    font-weight: 600;
    font-size: 18px;
    line-height: 2.3;
  }
}

.page-item.previous,
.pagination-previous{
  height: 100%;
  line-height: 3.2;
  float: left;
  padding: 0 !important;
  .page-link, a{
    border-radius: 0.25rem;
    height: 100%;
    color: transparent !important;
    background: $silver-light url('/assets/img/pager-left.png') no-repeat center center;
    width: 70px;
    padding: 0 !important;
    &:hover{
      background: darken($silver-light, 7.5%) url('/assets/img/pager-left.png') no-repeat center center !important;
    }
  }
  &.disabled{
    background: lighten($silver-light, 7.5%) url('/assets/img/pager-left.png') no-repeat center center !important;
    span{
      color: transparent !important;
    }
  }
}

.page-item.next,
.pagination-next{
  height: 100%;
  line-height: 3.2;
  float: right;
  padding: 0 !important;
  .page-link, a{
    border-radius: 0.25rem;
    height: 100%;
    color: transparent !important;
    background: $silver-light url('/assets/img/pager-right.png') no-repeat center center;
    width: 70px;
    padding: 0 !important;
    &:hover{
      background: darken($silver-light, 7.5%) url('/assets/img/pager-right.png') no-repeat center center !important;
    }
  }
  &.disabled{
    background: lighten($silver-light, 7.5%) url('/assets/img/pager-right.png') no-repeat center center !important;
    span{
      color: transparent !important;
    }
    &:before{
      content: "" !important;
    }
  }
}