/*------------------------------------
                Modal
-----------------------------------*/

.modal {
  color: $gray;
  p {
    font-size: 14px;
    b{
      font-weight: 600;
    }
    a {
      color: $gray;
      text-decoration: underline;
      font-size: 11px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .close {
    position: absolute;
    top: 7px;
    right: 14px;
    font-size: 2.5rem;
  }
}

.modal-content {
  $logo-height: 72px;
  margin-top: $logo-height/2;
  .modal-logo {
    position: relative;
    top: -($logo-height/2)-15;
    margin-bottom: -$logo-height/2;
  }
}

.modal-content {
  padding: 15px;
}

//.modal-wrapper{
//  padding: 15px;
//}

.modal-title {
  line-height: 1;
}