<div class="score text-center">
  <div class="container">
    <div class="row justify-content-center">
      <!--Score Slide-->
      <div class="col-xl-10">
        <div class="score-slide">

          <!--<div class="score-slide__item" *ngFor="let rank of dayRankings">-->
            <!--<div class="score-slide__item-day text-uppercase">-->
              <!--J1-->
            <!--</div>-->
            <!--<div class="score-slide__item-details">-->
              <!--<div class="row align-content-center no-gutters">-->
                <!--<div class="col">-->
                  <!--<div class="score-slide__item-details-wrapper score-slide__item-points">-->
                    <!--<div class="score-slide__item-number score-slide__item-points-number">{{rank.points}}</div>-->
                    <!--<div class="score-slide__item-unit text-uppercase">points</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col">-->
                  <!--<div class="score-slide__item-details-wrapper score-slide__item-rank">-->
                    <!--<div class="score-slide__item-number score-slide__item-rank-number">{{rank.rank}}</div>-->
                    <!--<div class="score-slide__item-unit text-uppercase">rank</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--
          <div class="score-slide__item">
            <div class="score-slide__item-day text-uppercase">
              J2
            </div>
            <div class="score-slide__item-details">
              <div class="row align-content-center no-gutters">
                <div class="col">
                  <div class="score-slide__item-details-wrapper score-slide__item-points">
                    <div class="score-slide__item-number score-slide__item-points-number">49
                    </div>
                    <div class="score-slide__item-unit text-uppercase">points</div>
                  </div>
                </div>
                <div class="col">
                  <div class="score-slide__item-details-wrapper score-slide__item-rank">
                    <div class="score-slide__item-number score-slide__item-rank-number">3654
                    </div>
                    <div class="score-slide__item-unit text-uppercase">rank</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="score-slide__item">
            <div class="score-slide__item-day text-uppercase">
              J3
            </div>
            <div class="score-slide__item-details">
              <div class="row align-content-center no-gutters">
                <div class="col">
                  <div class="score-slide__item-details-wrapper score-slide__item-points">
                    <div class="score-slide__item-number score-slide__item-points-number">42
                    </div>
                    <div class="score-slide__item-unit text-uppercase">points</div>
                  </div>
                </div>
                <div class="col">
                  <div class="score-slide__item-details-wrapper score-slide__item-rank">
                    <div class="score-slide__item-number score-slide__item-rank-number">2042
                    </div>
                    <div class="score-slide__item-unit text-uppercase">rank</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="score-slide__item">
            <div class="score-slide__item-day text-uppercase">
              J4
            </div>
            <div class="score-slide__item-details">
              <div class="row align-content-center no-gutters">
                <div class="col">
                  <div class="score-slide__item-details-wrapper score-slide__item-points">
                    <div class="score-slide__item-number score-slide__item-points-number">49
                    </div>
                    <div class="score-slide__item-unit text-uppercase">points</div>
                  </div>
                </div>
                <div class="col">
                  <div class="score-slide__item-details-wrapper score-slide__item-rank">
                    <div class="score-slide__item-number score-slide__item-rank-number">4230
                    </div>
                    <div class="score-slide__item-unit text-uppercase">rank</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="score-slide__item">
            <div class="score-slide__item-day text-uppercase">
              J5
            </div>
            <div class="score-slide__item-details">
              <div class="row align-content-center no-gutters">
                <div class="col">
                  <div class="score-slide__item-details-wrapper score-slide__item-points">
                    <div class="score-slide__item-number score-slide__item-points-number">67
                    </div>
                    <div class="score-slide__item-unit text-uppercase">points</div>
                  </div>
                </div>
                <div class="col">
                  <div class="score-slide__item-details-wrapper score-slide__item-rank">
                    <div class="score-slide__item-number score-slide__item-rank-number">6231
                    </div>
                    <div class="score-slide__item-unit text-uppercase">rank</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="score-slide__item">
            <div class="score-slide__item-day text-uppercase">
              J6
            </div>
            <div class="score-slide__item-details">
              <div class="row align-content-center no-gutters">
                <div class="col">
                  <div class="score-slide__item-details-wrapper score-slide__item-points">
                    <div class="score-slide__item-number score-slide__item-points-number">58
                    </div>
                    <div class="score-slide__item-unit text-uppercase">points</div>
                  </div>
                </div>
                <div class="col">
                  <div class="score-slide__item-details-wrapper score-slide__item-rank">
                    <div class="score-slide__item-number score-slide__item-rank-number">6254
                    </div>
                    <div class="score-slide__item-unit text-uppercase">rank</div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </div>
      <!--End Score Slide-->

      <div class="w-100"></div>

      <!--Score Summary-->
      <div class="col-lg-10 col-xl-8 pb-3" *ngIf="generalRanking">
        <div class="score-summary">
          {{"LABEL.total"|translate}} : <span class="text-turquoise">{{generalRanking.points}}</span> points <span class="text-turquoise">•</span>
          {{"LABEL.general_ranking"|translate}} : <span class="text-zodiac">{{generalRanking.rank}}</span>
        </div>
      </div>
      <!--End Score Summary-->
    </div>
  </div>
</div>
